.lbl { 
    text-align: start;
    display: block;
    margin: 1rem 0;
    float: left;
    width: 80%;
}

.btn {
    position: relative;
    width: 80%;
    padding: 0.8rem;
    margin: 1rem 0;
    background-color: black;
    color: white;
    border: none;
}

.formGrp {
    margin: 1rem;
}

.setReminder {
    margin: 1rem;
    display: 'inline-block'
}

.iput {
    position: relative;
    width: 80%;
    float: left;
    box-sizing: border-box;
    padding: 5px;
}